<!DOCTYPE html>
<html>
    <head>
        <title>My Study Planner</title>
        <meta charset="UTF-8">
        <meta name="description">
        <meta keywords="Study, Planner,Uiversity, School, Calender">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="login.css"  type="text/css">
    </head>
<body>
    <div class="study-planner">
        <h1>Create Semester Study Profile</h1>
        <button id="createProfileBtn" class="button-21" role="button">Create New Semester Profile</button>
        <div id="profileForm" style="display: none;">
            <div id="profileFormContainer">
                <form action="#", method="POST">
                    <input type="text" id="semesterId" placeholder="Enter Semester Identifier"><br>
                    <input type="file" id="dataFile" accept=".csv"><br>
                    <button id="submitProfileBtn">Submit</button>
                    <button id="cancelProfileBtn">Cancel</button>
                </form>
                
            </div>
        </div>
      </div>

      <script src="createschedule.js"></script>

</body>
</html>